# üß† Python Data Structures ‚Äì Theory Answers

### 1.  What are data structures, and why are they important?
- Data structures are ways to store and organize data efficiently. They're important for efficient data processing, better algorithm performance, and code clarity.

### 2. Explain the difference between mutable and immutable data types with examples
- **Mutable** types (e.g., lists, dicts) can be changed after creation.

```python
     my_list = [1, 2]; my_list[0] = 10
```

- **Immutable** types (e.g., strings, tuples) cannot be changed.

```python
     my_str = 'hello'; my_str[0] = 'H'  # Error
```

### 3. What are the main differences between lists and tuples in Python?
| Feature | List | Tuple |
|---------|------|--------|
| Mutable | Yes | No |
| Syntax | [1, 2] | (1, 2) |
| Performance | Slower | Faster |
| Use Case | Dynamic data | Fixed data |

###4. Describe how dictionaries store data
- Dictionaries store data as key-value pairs using a hash table for fast lookup.

### 5. Why might you use a set instead of a list in Python?
- Sets store **unique** values and offer faster lookup times than lists.

### 6. What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters. A list is a mutable collection that can contain any data type.

### 7. How do tuples ensure data integrity in Python?
- Tuples are immutable, preventing accidental changes and ensuring the data remains constant.

### 8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table maps keys to values using a hash function. Python dictionaries use hash tables internally.

### 9. Can lists contain different data types in Python?
- Yes. Lists in Python can store heterogeneous data.
```python
my_list = [1, 'hello', 3.14]
```

### 10. Explain why strings are immutable in Python?
- Immutability offers security, allows for memory optimization (interning), and prevents unintended side effects.

### 11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer faster access (O(1) vs O(n)) and allow named access using keys instead of indices.

### 12. How do sets handle duplicate values in Python?
- Sets automatically eliminate duplicates.
```python
set([1, 2, 2, 3])  # {1, 2, 3}
```

### 13. Describe a scenario where using a tuple would be preferable over a list?
- When you want fixed, constant data or want to use it as a dictionary key (hashable).

### 14. How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?
- `in` checks values in a list, and keys in a dictionary.
```python
'x' in [1, 'x']
'x' in {'x': 1}
```

### 15. Can you modify the elements of a tuple? Explain why or why not?
- No. Tuples are immutable. Once created, their elements cannot be modified.

### 16. What is a nested dictionary, and give an example of its use case?
- A dictionary inside another dictionary.
```python
students = {'A1': {'name': 'Alice', 'age': 21}}
```

### 17. Describe the time complexity of accessing elements in a dictionary
- **O(1)** average case due to hashing.

### 18. In what situations are lists preferred over dictionaries?
- When order and positional indexing matter, or when storing simple sequences.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Before Python 3.7, dictionaries didn‚Äôt preserve order. Now they do, but retrieval is still key-based, not index-based.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists access data by **index** (position), dictionaries by **key** (name).

#  Practical Questions

In [1]:
#1 Create a string with your name and print it:
name = "John Doe"
print(name)

John Doe

In [2]:
#2 Find the length of the string "Hello World":
s = "Hello World"
print(len(s))

11

In [3]:
#3 Slice the first 3 characters from the string "Python Programming":

s = "Python Programming"
print(s[:3])

Pyt

In [4]:
#4 Convert the string "hello" to uppercase:
s = "hello"
print(s.upper())

HELLO

In [5]:
#5 Replace the word "apple" with "orange" in the string "I like apple":
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
#6 Create a list with numbers 1 to 5 and print it:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7 Append 10 to the list [1, 2, 3, 4]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#8 Remove 3 from the list [1, 2, 3, 4, 5]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#9 Access the second element in the list ['a', 'b', 'c', 'd']:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
#10 Reverse the list [10, 20, 30, 40, 50]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#11 Create a tuple with the elements 100, 200, 300 and print it:
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#12 Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'):
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#13 Find the minimum number in the tuple (10, 20, 5, 15):
t = (10, 20, 5, 15)
print(min(t))

5

In [14]:
#14 Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'):
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [15]:
#15 Create a tuple containing three different fruits and check if "kiwi" is in it:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

In [16]:
#16 Create a set with the elements 'a', 'b', 'c' and print it:
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [17]:
#17 Clear all elements from the set {1, 2, 3, 4, 5}:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#18 Remove the element 4 from the set {1, 2, 3, 4}:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
#19 Find the union of two sets {1, 2, 3} and {3, 4, 5}:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [20]:
#20 Find the intersection of two sets {1, 2, 3} and {2, 3, 4}:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [21]:
#21 Create a dictionary with the keys "name", "age", and "city", and print it:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [22]:
#22 Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23 Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [24]:
#24 Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25 Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [26]:
#26 Create a list, a tuple, and a dictionary, and print them all:
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 7, 'b': 8}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [28]:
#27 Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print it:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[2, 28, 52, 65, 73]

In [29]:
#28 Create a list with strings and print the element at the third index:
lst = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(lst[3])

date

In [30]:
#29 Combine two dictionaries into one and print the result:
d1 = {'a': 1}
d2 = {'b': 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

In [31]:
#30 Convert a list of strings into a set:
lst = ['apple', 'banana', 'apple']
s = set(lst)
print(s)

{'banana', 'apple'}